* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
/* 전체 레이아웃 */
.wrap {
  width: 100%;
  min-width: 1200px;
  background-color: rgb(129, 188, 192);
}

/* 헤더 */
header {
  margin: auto;
  width: 100%;
  background-color: #f6f5ef;
}
header .inner {
  position: relative;
  margin: auto;
  z-index: 999;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  /* background-color: skyblue; */
}
/* 로고 */
.logo {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 75px;
  /* z-index: 2; */
}
.logo img {
  width: 100%;
  display: block;
}
/* 메뉴 */
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: violet; */
}
/* 헤더-top */
.header-top {
  height: 50px;
  /* background-color: yellowgreen; */
}
.header-top > ul {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  flex-wrap: wrap;
  padding-right: 20px;
}
.header-top li {
  line-height: 50px;
  cursor: pointer;
}
.header-top li a:hover {
  text-decoration: underline;
}
/* 헤더-bottom */
.header-bt {
  position: relative;
  height: 50px;
  /* background-color: #f6f5ef; */
}
.header-bt > ul {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}
.gnb {
  height: 50px;
  padding-top: 5px;
  cursor: pointer;
  /* z-index: 999; */
}
.gnb > a {
  padding: 10px;
  text-align: center;
}
.gnb:hover > a {
  text-decoration: underline;
  color: #72a301;
}
.gnb:hover {
  background-color: #333;
}
.depth2 {
  width: 100%;
  /* height: auto; */
  /* height: 400px; */
  /* margin: auto; */
  padding: 10px 30px 20px;
  position: absolute;
  top: 50px;
  /* top: -350px; */
  /* bottom: 0; */
  left: 0;
  /* display: flex; */
  flex-wrap: wrap;
  gap: 20px;
  /* opacity: 0; */
  display: none;
  color: #fff;
  background-color: #333;
  /* transition: all 0.5s; */
  /* z-index: 1; */
}
.gnb:hover .depth2 {
  /* position: absolute; */
  top: 50px;
  /* left: 0; */
  opacity: 1;
  display:;
  /* height: auto; */
  /* padding: 10px 30px 20px; */
  /* overflow: hidden; */
}
.depth2 > li > a {
  padding: 10px 0;

  /* visibility: hidden; */
  color: #fff;
}
.gnb:hover .depth3 {
  /* visibility: visible; */
}
.gnb:hover .depth2 > li > a {
  /* visibility: visible; */
}
.depth2 > li {
  width: calc((100% - 60px) / 4);
}

.depth3 {
  padding: 10px 0;
  font-size: 13px;
  color: #999;
  /* visibility: hidden; */
}
.depth3 > li {
  padding: 2px 0;
}
/* 메인 */
main {
  width: 100%;
  height: 500px;
  background-color: grey;
  margin: auto;
  border: 20px solid rgb(229, 212, 233);
  background-color: rgb(252, 221, 231);
}
/* 신메뉴 배너 */
.main-inner {
  margin: auto;
  width: 70%;
  height: 460px;
  display: flex;
  /* background-color: rosybrown; */
}
/* 텍스트/자세히 보기 */
.main-txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
/* 텍스트 */
.txt img {
  width: 90%;
  margin-top: 150px;
  /* align-items: center; */
  opacity: 0;
  animation: fadetxt 0.8s ease-out forwards;
  animation-delay: 0.5s;
}
@keyframes fadetxt {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* 자세히 보기 */
.main-inner .detail-btn {
  border: 2.5px solid rgb(182, 149, 190);
  border-radius: 5px;
  padding: 8px 30px;
  opacity: 0;
  animation: fadeDetail 0.8s ease-out forwards;
  animation-delay: 3.5s;
}
.main-inner .detail-btn p {
  font-size: 18px;
  white-space: nowrap;
  color: rgb(147, 114, 155);
}
.main-inner .detail-btn:hover {
  background-color: rgb(182, 149, 190);
  transition: all 0.5s;
}
.main-inner .detail-btn:hover p {
  color: #fff;
  text-decoration: underline;
  transition: all 0.5s;
}
@keyframes fadeDetail {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* 배너 이미지 */
.fade-in-image {
  width: 50%;
  opacity: 0;
  animation: fadeIn 0.8s ease-out forwards;
  /* animation-delay: 1s; */
  /* transition: all 3s; */
}
.fade-in-image:nth-child(1) {
  animation-delay: 1s;
}
.fade-in-image:nth-child(2) {
  animation-delay: 1.5s;
}
.fade-in-image:nth-child(3) {
  animation-delay: 2s;
}
.fade-in-image:nth-child(4) {
  animation-delay: 2.5s;
}
.fade-in-image:nth-child(5) {
  animation-delay: 3s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.banner-img {
  display: flex;
  gap: 50px;
  align-items: baseline;
  margin-top: 60px;
   

}
.banner-img > li {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner-img > li > img {
  width: 100px;
}
.banner-img p {
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  color: rgb(151, 84, 168);
}
.banner-img p:first-child {
  border-bottom: 1px solid rgb(182, 149, 190);
  padding-bottom: 5px;
}
.banner-img p:last-child {
  padding-top: 5px;
}
/* 공지사항 / 프로모션 */
.noti-promo {
  width: 100%;
  height: 50px;
  background-color: #72a301;
}
.noti-promo .inner {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #000;
}
.noti-promo .notice {
  position: relative;
  width: 50%;
  height: 100%;
  color: #fff;
  background-color: #222;
}
.notice .txt {
  position: absolute;
  top: 13px;
  right: 20px;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.notice span {
  border: 1px solid #fff;
  border-radius: 30px;
  /* padding: 1px 3px; */
  width: 24px;
  height: 24px;
  text-align: center;
  /* padding: 3px; */
  cursor: pointer;
}
.notice a {
  color: #fff;
}
.noti-promo .promotion {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}
.promotion .txt {
  position: absolute;
  top: 13px;
  left: 20px;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.promotion span {
  border: 1px solid #000;
  border-radius: 30px;
  /* padding: 1px 3px; */
  width: 24px;
  height: 24px;
  text-align: center;
  /* padding: 3px; */
  cursor: pointer;
}
/* 리워드 */
.rewards {
  width: 100%;
  height: 300px;
  background-color: #1e3932;
}
.rewards-inner {
  width: 50%;
  /* min-width: 260px; */
  margin: auto;
  padding: 20px 0;
  display: flex;
  gap: 50px;
  color: #fff;
}
/* 리워드 로고 */
.rewards-logo {
  width: 30%;
  margin: auto;
}
/* 리워드 내용 */
.rewards-contents {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  white-space: nowrap;
}
.mdl-contents {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}
.mdl-contents .btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}
.mdl-contents .btn p {
  border: 1px solid;
  border-radius: 3px;
  padding: 10px 15px;
}
.mdl-contents .btn p:first-child {
  border: none;
  background-color: green;
}
.mdl-contents .btn p:last-child {
  border-color: #fff;
  background-color: none;
}
.mdl-contents .btn p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.rewards-contents span{
  border-top: 1px solid #fff;
  width: 100%;
}
.bt-contents {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  /* padding-top: 20px; */
}
.bt-contents .btn {
  width: 250px;
  border: 1px solid #fff;
  border-radius: 3px;
}
.bt-contents .btn p {
  color: #fff;
  padding: 10px 15px;
}
.bt-contents .btn p:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* 시즌 프로모션 배너 */
.mainBean {
  background: url(../images/background.png) center / cover no-repeat;
  /* width: 100%; */
  height: 800px;
}
.mainBean .inner {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rosybrown; */
}
.mainBean .img-box {
  /* background-color: slateblue; */
}
.mainBean .txt-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  white-space: nowrap;
  /* background-color: turquoise; */
}
.mainBean .txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #863232;
}
.mainBean .detail-btn {
  width: 150px;
  padding: 10px;
  border: 2px solid #863232;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}
.mainBean .detail-btn p {
  color: #863232;
  font-size: 18px;
}
.mainBean .detail-btn:hover {
  background-color: #863232;
  transition: all 0.5s;
}
.mainBean .detail-btn:hover p {
  color: #fff;
  text-decoration: underline;
  transition: all 0.5s;
}
.mainBean:hover .mainBean .img-box{
  
}
/* 시즌 리저브 배너 */
.reserve {
  width: 100%;
  background-color: #faecdc;
}
.reserve .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  /* background-color: pink; */
}
.reserve-title {
  /* margin-top: 60px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.reserve-detailBtn {
  width: 150px;
  padding: 10px;
  border: 2px solid #b67741;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}
.reserve-detailBtn p {
  color: #b67741;
  font-size: 18px;
}
.reserve-detailBtn:hover {
  background-color: #b67741;
  transition: all 0.5s;
}
.reserve-detailBtn:hover p {
  color: #fff;
  text-decoration: underline;
  transition: all 0.5s;
}
/* Pick Your Favorite */
.fav-wrap {
  width: 100%;
  background-color: #999;
}
.fav-wrap .inner {
  width: 60%;
  margin: auto;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.fav-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  color: #fff;
  white-space: nowrap;
}
.fav-txt .txt-1 {
  font-size: 100px;
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 80px;
}
.fav-txt .txt-1 p:nth-child(2) {
  font-size: 85px;
}
.fav-txt .txt-1 p:last-child {
  font-size: 50px;
}
.fav-txt .txt-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.fav-wrap .detail-btn {
  width: 150px;
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}
.fav-wrap .detail-btn p {
  color: #ffffff;
  font-size: 18px;
}
.fav-wrap .detail-btn:hover {
  background-color: #ffffff;
  transition: all 0.5s;
}
.fav-wrap .detail-btn:hover p {
  color: #000000;
  text-decoration: underline;
  transition: all 0.5s;
}
.fav-visual img {
  width: 700px;
}
/* MAGAZINE */
.magazine-wrap {
  width: 100%;
  background-color: #fff;
}
.magazine-wrap .inner {
  width: 60%;
  margin: auto;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.magazine-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 100px;
}
.magazine-btn {
  width: 150px;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}
.magazine-btn p {
  color: #000000;
  font-size: 18px;
}
.magazine-btn:hover {
  background-color: #000000;
  transition: all 0.5s;
}
.magazine-btn:hover p {
  color: #ffffff;
  text-decoration: underline;
  transition: all 0.5s;
}
/* 매장 찾기 */
.store-wrap {
  width: 100%;
  height: 450px;
  /* padding:0 100px 100px 0; */
  background-color: #ddd;
}
.store-wrap .inner {
  /* position: absolute; */
  position: relative;
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 200px;
}
.background-img .bean {
  position: absolute;
  top: -50px;
  left: 50%;
  overflow: hidden;
}
.background-img .store {
  position: absolute;
  bottom: 0;
  right: 100px;
}
.store-visual {
  position: relative;
  /* background-color: seagreen; */
}
/* .store-1 {
  position: absolute;
  top: 0;
  left: 160px;
  width: 366px;
  height: 312px;
} */
.store-2 {
  position: absolute;
  top: 170px;
  left: 200px;
  width: 228px;
  /* height: 228px; */
}
.store-wrap .txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  padding-top: 100px;
  white-space: nowrap;
  z-index: 999;
}
.store-wrap .txt-1 p {
  font-size: 20px;
}
.store-btn {
  width: 150px;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}
.store-btn p {
  color: #000000;
  font-size: 18px;
}
.store-btn:hover {
  background-color: #000000;
  transition: all 0.5s;
}
.store-btn:hover p {
  color: #ffffff;
  text-decoration: underline;
  transition: all 0.5s;
}
/* FOOTER */
footer {
  width: 100%;
  /* height: 500px; */
  color: #fff;
  background-color: #272727;
}
footer .inner {
  width: 60%;
  margin: auto;
  padding-top: 30px;

  /* background-color: rgb(100, 32, 11); */
}
/* footer-top */
.footer-top {
  width: 100%;
  padding-bottom: 50px;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  /* gap: calc(100% / 5); */
}
#footer-menu {
  padding-top: 10px;
  font-size: 13px;
}
#footer-menu li {
  padding: 3px 0;
}
#footer-menu li:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* footer-mdl */
.footer-mdl {
  display: flex;
  /* justify-content: center;
  gap: 10px; */
  /* gap: calc(100% / 7); */
  justify-content: space-between;
  /* flex-wrap: nowrap; */
}
.footer-mdl img {
  width: calc((100% - 20px) / 7);
  /* gap: calc(100% / 7); */
}
/* footer-btm */
.footer-btm {
  padding-top: 50px;
}
.footer-btm ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
  padding-bottom: 20px;
  font-size: 13px;
  /* background-color: thistle; */
}
.footer-btm ul li:nth-child(1) {
  color: rgb(1, 177, 1);
}
.footer-btm ul li:nth-child(4) {
  color: rgb(1, 177, 1);
}
.footer-btm li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-btm span {
  border-right: 1px solid #666;
  width: 1px;
  height: 15px;
  padding-right: 10px;
  margin-right: 10px;
}
.footer-btm .button {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-btm .button p {
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 5px 20px;
  font-size: 12px;
}
.footer-btm .button p:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* copyright */
.copyright {
  color: #999;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 0;
}
.copyright-top {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.copyright-btm {
  margin: auto;
}
